:root {
	--basic-black: #000000;
	--basic-dark-shade: #283136;
	--basic-rose-red: #FB565A;
	--basic-green-blue: #00CA74;
	--basic-light-yellow: #EFC849;
	--basic-white: #FFFFFF;
	--basic-white-aluminum: #ABABAB;
	--basic-shade-black: #EEEEEE;
	--basic-very-pale-blue: #D7DCDF;
	--basic-strawberry-red: #D7373B;
	--basic-carmine-pink: #E74246;
	--basic-jade: #00AA62;
	--basic-rich-yellow: #E5A722;
	--basic-pastel-yellow: #EAB534;
	--basic-light-Telegraph: #CCCCCC;
	--basic-gainsborough: #DFDFDF;
	--basic-abdel-Kerim-Beards: #D5D5D5;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.head {
	background-color: var(--basic-shade-black);
	margin-bottom: 0px;
}

.logo {
	width: 160px;
	height: 66px;
}

.logo:active {
	color: var(--basic-black);
	opacity: 0.3;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-navigation-wrapper {
	display: flex;
	justify-content: space-between;
}

.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;
}

.basket {
	padding-left: 50px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0px;
}

.basket:hover,
.site-navigation a:hover {
	color: var(--basic-rose-red);
}

.basket:focus,
.site-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.3;
	
}

.site-navigation,
.basket,
.element {
	list-style: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
}

.advantages {
	background-color: var(--basic-shade-black);
	margin-bottom: 61px;
	margin-top: 0px;
}

.long {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	margin-bottom: 25px;
	margin-top: 0;
}

.mathematics {
	margin-bottom: 38px;
}

.learn {
	font-weight: 500;
	line-height: 18px;
	padding: 17px 54px 15px;
	background-color: var(--basic-rose-red);
	color: var(--basic-white);
	text-transform: uppercase;
}

.learn:hover {
	color: var(--basic-white);
	background-color: var(--basic-strawberry-red);
}

.learn:active {	
	color:  rgba(255,255,255,0.3);
	
}

.our-service {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
	list-style: none;
}

.product-name {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
}

.order {
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-white);
	text-transform: uppercase;
	padding: 17px 40px 15px 39px;
}

.pink {
	background-color: var(--basic-rose-red);
}

.pink:hover {
	color: var(--basic-white);
	background-color: var(--basic-strawberry-red);
}

.pink:active {
	color: rgba(255,255,255,0.3); 
}

.green {
	background-color: var(--basic-green-blue);
}

.green:hover {
	color: var(--basic-white);
	background-color: var(--basic-jade);
}

.green:active {
	color: rgba(255,255,255,0.3); 
}

.yellow {
	background-color: var(--basic-light-yellow);
}

.yellow:hover {
	color: var(--basic-white);
	background-color: var(--basic-Rich-yellow);
}

.yellow:active {
	color: rgba(255,255,255,0.3); 
}

.little {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 32;
}

.character {
	list-style: none;
}

.trait {
	margin-bottom: 5px;
	margin-right: 7px;
}

.complexity {
	margin-bottom: 40px;
}

.product-name {
	margin-top: 25px;
	margin-bottom: 16px;
}

.will {
	margin-bottom: 32px;
}

.do {
	margin-bottom: 155px;
}

.perform {
	margin-top: 40px;
	margin-bottom: 23px;
	text-transform: uppercase;
	font-weight: bold;
}

.complexity::before {
	content: "\2015";
	color: var(--basic-rose-red);
	font-weight: bold;
}

.about {
	margin-bottom: 138px;
}

.accuracy {
	font-weight: bold;
	margin-bottom: 31px;
}

.customers {
	margin-bottom: 131px;
}

.customerlist {
	list-style: none;
}

.nёrds {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 23px;
}

.address {
	margin-bottom: 36px;
}

.vk {
	padding: 31px 22px 30px 26px;
	background-color: var(--basic-black);
	border-radius: 100px;
	margin-right: 11px;
	opacity: 0.2;
}

.vkicon {
	width: 33px;
	height: 20px;
}

.vk:hover {
	background-color: var(--basic-rose-red);
	opacity: 1.0;
}

.vkicon:active {
	opacity: 0.3;
}

.fb {
	padding: 31px 34px 28px 35px;
	background-color: var(--basic-black);
	border-radius: 100px;
	margin-right: 9px;
	opacity: 0.2;
}

.fbicon {
	width: 12px;
	height: 22px;
	color: var(--basic-white);
}

.fb:hover {
	background-color: var(--basic-rose-red);
	opacity: 1.0;
}

.fbicon:active {
	opacity: 0.3; 
}

.in {
	padding: 30px 30px;
	background-color: var(--basic-black);
	border-radius: 100px;
	opacity: 0.2;
}

.instaicon {
	width: 21px;
	height: 21px;
	color: var(--basic-white);
}

.in:hover {
	background-color: var(--basic-rose-red);
	opacity: 1.0;
}

.instaicon:active {
	opacity: 0.3; 
}

.network {
	display: flex;
	justify-content: flex-start;
	margin-top: 69px;
	list-style: none;
	margin-bottom: 68px;
}

.be-friends {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 10px;
}

.discount {
	line-height: 22px;
}

.ready {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	background-color: var(--basic-shade-black);
	text-align: center;
	margin-top: 0px;
}

.filters {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.grid {
	line-height: 19px;
}

.show {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	padding: 17px 89px 15px 88px;
	background-color: var(--basic-shade-black);
	border-radius: 3px;
	margin-top: 50px;
	border: none;	
}

.show:hover {
	background-color: var(--basic-Gainsborough);
}

.show:focus {
	background-color: var(--basic-Abdel-Kerim-Beards);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	border: none;
	color: rgba(0,0,0,0.3); 
}

.sort {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.parameters {
	list-style: none;
}

.attheprice {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.marker1 {
	width: 11px;
	height: 10px;
	color: var(--basic-black);
}

.marker1 {
	width: 11px;
	height: 10px;
	color: var(--basic-black);
	opacity: 0.2;
}

.bytype {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
	opacity: 0.3;
}

.byname {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
	opacity: 0.3;
}

.proect {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.description {
	line-height: 18px;
}

.cost {
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-white);
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 22px;
	padding-top: 39px;
	background-color: var(--basic-shade-black);
	border-radius: 3px;
	padding-right: 22px;
	padding-left: 33px;
}

.range-controls .scale {
	height: 2px;
	background: var(--basic-very-pale-blue);
}

.range-controls .bar {
	width: 138px;
	height: 2px;
	background: var(--basic-green-blue);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--basic-white-aluminum);
	border-radius: 50%;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 11px;
	text-align: center;
	border: none;
	border-radius: 3px;
	background-color: var(--basic-shade-black);
}

.partners {
	opacity: 0.3;
}

.partners:hover {
	opacity: 1;
}

.academy:active {
	opacity: 0.1;
}
.barbershop:active {
	opacity: 0.1;
}
.glasses:active {
	opacity: 0.1;
}
.mishka:active {
	opacity: 0.1;
}
.customerlist{
display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

