:root {
    --basic-black: #000000;
    --basic-dark-shade: #283136;
    --basic-rose-red: #FB565A;
    --basic-green-blue: #00CA74;
    --basic-light-yellow: #EFC849;
    --basic-white: #ffffff;
    --basic-dark-grey: #666666;
    --basic-shade-black: #EEEEEE;
    --basic-dark-green: #00CA74;
  }